<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">All Products
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">All Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">All Users</a>
                </li>
                {{#if admin.isSuperAdmin}}
                <li class="nav-item">
                    <a class="nav-link" href="#" id="addAdminLink">Add Admin</a>
                </li>
                {{/if}}
            </ul>
            {{#if adminLoggedIn}}
                <a href="/admin/logout" class="btn btn-danger ml-3">Logout</a>
            {{else}}
                <a href="/admin/login" class="btn btn-primary ml-3">Admin Login</a>
            {{/if}}
        </div>
    </nav>
</header>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.getElementById('addAdminLink')?.addEventListener('click', (e) => {
        e.preventDefault();
        const email = prompt('Enter new admin email:');
        const password = prompt('Enter new admin password:');
        if (email && password) {
            axios.post('/admin/add-admin', { Email: email, Password: password })
                .then(response => {
                    alert(response.data.message);
                })
                .catch(err => {
                    alert('Error: ' + (err.response?.data?.error || 'Failed to add admin'));
                });
        }
    });
</script>